/*google fonts import*/
/* Importing Raleway and Roboto Mono fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/*global styles*/

body {
  font-family: "Raleway", sans-serif;
  background-color: #fefaf2;
}

/*custom styles*/

nav.nav-custom {
  font-family: "Raleway", sans-serif;
  background-color: #fefaf2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/*media queries for responsive navbar alignment*/

/* Aligns the navbar items to the right on larger screens */

@media (max-width: 991.98px) { /* Bootstrap's lg breakpoint */
  .navbar-collapse {
    justify-content: flex-end !important;
  }
  .navbar-nav {
    align-items: flex-end !important;
    text-align: right;
  }
}